In [1]:
# taken from this repo: https://github.com/arup-group/suffolk_network/blob/main/scenarios/scenario_market_towns/Scenario_Market_Towns.ipynb

# also chucking the genet documentation in here: https://arup-group.github.io/genet/latest/reference/genet/utils/spatial/#genet.utils.spatial.distance_between_s2cellids 

import genet as gn
import pandas as pd
import os

# path_to_matsim_network = "/mnt/c/_BERTIE_data/2_2040_do_minimum_40WFH/"
path_to_matsim_network = "/mnt/c/_BERTIE_data/2_2040_do_minimum_40WFH/"
output_path = "/mnt/c/_BERTIE_data/market_buses_2040_test_just_suff"

/home/siskiyoucedar/micromamba/envs/genet/lib/python3.12/site-packages/keplergl/keplergl.py:2: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_string

In [2]:
network = os.path.join(path_to_matsim_network, "output_network.xml")
schedule = os.path.join(path_to_matsim_network, "output_transitSchedule.xml") 
vehicles = os.path.join(path_to_matsim_network, 'output_transitVehicles.xml')
n = gn.read_matsim(
    path_to_network=network, epsg="epsg:27700", path_to_schedule=schedule, path_to_vehicles=vehicles
)

In [3]:
n

<Network instance at 140604648033840: with
graph: MultiDiGraph with 447655 nodes and 985382 edges and
schedule Schedule:
Number of services: 1351
Number of routes: 4687
Number of stops: 20219

In [4]:
# actual list

market_towns = {
    'Aldeburgh',
    'Bury St Edmunds',
    'Capel St Mary',
    'Clare',
    'East Bergholt',
    'Eye',
    'Ipswich',
    'Lowestoft',
    'Red Lodge',
    'Beck Row',
    'Brandon',
    'Elmswell',
    'Haverhill',
    'Ixworth',
    'Long Melford',
    'Mildenhall',
    'Newmarket',
    'Stowmarket',
    'Sudbury',
    'Thurston',
    'Hadleigh',
    'Haverhill',
    'Felixstowe',
    'Framlingham',
    'Leiston',
    'Needham Market',
    'Rendlesham',
    'Saxmundham',
    'Shotley',
    'Beccles',
    'Bungay',
    'Halesworth',
    'Reydon',
    'Woodbridge',
#     'Downham Market',  
#     'Kings_Lynn', 
#     'Swaffham', 
#     'Wroxham', 
#     'Stalham', 
#     'Aylsham', 
#     'Holt',
#     'Fakenham', 
#     'Hunstanton', 
#     'Brandon',
#     'Great_Yarmouth', 
#     'Caister-on-Sea', 
#     'Norwich',
#     'Watton', 
#     'Attleborough', 
#     'Reepham', 
#     'Cromer', 
#     'Wells Next The Sea', 
#     'Thetford',
#     'Tiptree', 
#     'Halstead', 
#     'Great Dunmow', 
#     'Brightlingsea',
#     'West Mersea', 
#     'Maldon', 
#     'Saffron Walden', 
#     'Braintree', 
#     'Epping', 
#     'Harlow',
#     'Colchester',
#     'Chelmsford',
#     'Sudbury',
#     'South Woodham Ferrers',
#     'Bishops Stortford',
#     'Braintree'
}
market_towns = sorted(list([t.replace(' ', '_') for t in market_towns]))
market_towns

['Aldeburgh',
 'Beccles',
 'Beck_Row',
 'Brandon',
 'Bungay',
 'Bury_St_Edmunds',
 'Capel_St_Mary',
 'Clare',
 'East_Bergholt',
 'Elmswell',
 'Eye',
 'Felixstowe',
 'Framlingham',
 'Hadleigh',
 'Halesworth',
 'Haverhill',
 'Ipswich',
 'Ixworth',
 'Leiston',
 'Long_Melford',
 'Lowestoft',
 'Mildenhall',
 'Needham_Market',
 'Newmarket',
 'Red_Lodge',
 'Rendlesham',
 'Reydon',
 'Saxmundham',
 'Shotley',
 'Stowmarket',
 'Sudbury',
 'Thurston',
 'Woodbridge']

In [5]:
# this throws an error - why?

# fixed it. was 5177495089997857897; dug out relevant stop id from schedule xml
# appears stop ids have changed in the newer versions of BERTIE

n.schedule.stop('390060143').print()

Stop ID: 390060143
Projection: epsg:27700
Lat, Lon: 52.150799, 1.60107101
linkRefId: 5177495089997857897_5177495089997857897

In [6]:
# optional write to geojson - I will use this to get the right stop ids for market_town_stops below:

# n.write_spatial("C:/_BERTIE_data/market_buses_2040", filetype="geojson")

In [7]:
# relevant stops found using QGIS

# I changed all of these for the new ids; will need to pull back from the url noted above if needed

market_town_stops = {
    'Aldeburgh': '390060144',
    'Beccles': '390071010',
    'Beck_Row': '390020120',
    'Brandon': '390020066',
    'Bungay': '390070047',
    'Bury_St_Edmunds': '390050878',
    'Capel_St_Mary': '390010551',
    'Clare': '390050196',
    'East_Bergholt': '390010838',
    'Elmswell': '390040425',
    'Eye': '390040134',
    'Felixstowe': '390060767',
    'Framlingham': '390060370',
    'Hadleigh': '390010387',
    'Halesworth': '390070274',
    'Haverhill': '390050277',
    'Ipswich': '390030007',
    'Ixworth': '390050564',
    'Leiston': '390060208',
    'Long_Melford': '390010149',
    'Lowestoft': '390071022',
    'Mildenhall': '390020289',
    'Needham_Market': '390040505',
    'Newmarket': '390020187',
    'Red_Lodge': '390020148',
    'Rendlesham': '390061134',
    'Reydon': '390070335',
    'Saxmundham': '390060201',
    'Shotley': '390010018',
    'Stowmarket': '390040596',
    'Sudbury': '390010689',
    'Thurston': '390040539',
    'Woodbridge': '390060607',
    # norwich ones:
    # 'Downham_Market': '290G8',  # king's lynn
    # 'Kings_Lynn': '290G15', # hunstanton, swaffham
    # 'Swaffham': '2900S7122', # king's lynn, norwich
    # 'Wroxham': '2900W554', # norwich
    # 'Stalham': '2900S3919', # norwich 
    # 'Aylsham': '2900A219', # norwich, cromer
    # 'Holt': '2900H394', # cromer
    # 'Fakenham': '2900F0118', # wells
    # 'Hunstanton': '290G14', # king's lynn
    # 'Brandon': '390020066', # thetford 
    # 'Great_Yarmouth': '2900Y0386', # lowestoft
    # 'Caister-on-Sea': '2900C0117', # yarmouth
    # 'Norwich': '290G65', # beccles, bungay
    # 'Watton': '2900W1219', # dereham, thetford
    # 'Attleborough': '2900A181', # norwich
    # 'Reepham': '2900R053', # norwich
    # 'Cromer': '2900C3811', # aylsham, holt
    # 'Wells_Next_The_Sea': '2900W5712', # fakenham
    # 'Thetford': '290G29', # brandon
    # # essex ones: 
    # 'Tiptree': '150014006006', # colchester
    # 'Halstead': '1500IM101', # braintree
    # 'Great_Dunmow': '150018016003', # braintree, bishops stortford
    # 'Brightlingsea': '150032004031', # colchester
    # 'West_Mersea': '150014013023', # colchester
    # 'Maldon': '1500IM597', # chelmsford, south woodham ferrers
    # 'Saffron_Walden': '1500IM154', # bishops stortford
    # 'Braintree': '150G00003242', # sudbury
    # 'Epping': '1500IM353', # harlow
    # 'Harlow': '150G00000876', # and chelmsford here because why not
    # 'Colchester': '1500IM77A',
    # 'Chelmsford': '150G00003237',
    # 'South_Woodham_Ferrers': '1500IM2261B',
    # 'Bishops_Stortford': '210G224'
}

In [8]:
# as yet unchanged - to add norfolk and essex ones

market_town_links = [
    ('Aldeburgh','Woodbridge'),
    ('Bury_St_Edmunds', 'Beck_Row'),
    ('Bury_St_Edmunds', 'Brandon'),
    ('Bury_St_Edmunds', 'Elmswell'),
    ('Bury_St_Edmunds', 'Haverhill'),
    ('Bury_St_Edmunds', 'Ixworth'),
    ('Bury_St_Edmunds', 'Long_Melford'),
    ('Bury_St_Edmunds', 'Mildenhall'),
    ('Bury_St_Edmunds', 'Newmarket'),
    ('Bury_St_Edmunds', 'Stowmarket'),
    ('Bury_St_Edmunds', 'Sudbury'),
    ('Bury_St_Edmunds', 'Thurston'),
    ('Capel_St_Mary', 'Hadleigh'),
    ('Clare', 'Haverhill'),
    ('East_Bergholt', 'Hadleigh'),
    ('Eye', 'Stowmarket'),
    ('Ipswich', 'Felixstowe'),
    ('Ipswich', 'Framlingham'),
    ('Ipswich', 'Hadleigh'),
    ('Ipswich', 'Leiston'),
    ('Ipswich', 'Needham_Market'),
    ('Ipswich', 'Rendlesham'),
    ('Ipswich', 'Saxmundham'),
    ('Ipswich', 'Shotley'),
    ('Ipswich', 'Stowmarket'),
    ('Ipswich', 'Woodbridge'),
    ('Lowestoft', 'Beccles'),
    ('Lowestoft', 'Bungay'),
    ('Lowestoft', 'Halesworth'),
    ('Lowestoft', 'Leiston'),
    ('Lowestoft', 'Saxmundham'),
    ('Red_Lodge', 'Mildenhall'),
    ('Reydon', 'Halesworth'),
    # norwich:
    # ('Downham_Market', 'Kings_Lynn'),
    # ('Swaffham', 'Kings_Lynn'),
    # ('Swaffham', 'Norwich'),
    # ('Wroxham', 'Norwich'),
    # ('Stalham', 'Norwich'),
    # ('Aylsham', 'Norwich'),
    # ('Holt', 'Cromer'),
    # ('Fakenham', 'Wells_Next_The_Sea'),
    # ('Hunstanton', 'Kings_Lynn'),
    # ('Brandon', 'Thetford'),
    # ('Great_Yarmouth', 'Caister-on-Sea'),
    # ('Great_Yarmouth', 'Lowestoft'),
    # ('Norwich', 'Beccles'),
    # ('Norwich', 'Bungay'),
    # ('Watton', 'Thetford'),
    # ('Attleborough', 'Norwich'),
    # ('Reepham', 'Norwich'),
    # ('Cromer', 'Aylsham'),
    # # essex:
    # ('Tiptree', 'Colchester'),
    # ('Halstead', 'Braintree'),
    # ('Great_Dunmow', 'Braintree'),
    # ('Great_Dunmow', 'Bishops_Stortford'),
    # ('Brightlingsea', 'Colchester'),
    # ('West_Mersea', 'Colchester'),
    # ('Maldon', 'Chelmsford'),
    # ('Maldon', 'South_Woodham_Ferrers'),
    # ('Saffron_Walden', 'Bishops_Stortford'),
    # ('Braintree', 'Sudbury'),
    # ('Epping', 'Harlow'),
    # ('Harlow', 'Chelmsford'),
]

In [9]:
# function that gets all the bus routes
# I bet this will spring an error but let's see how we roll...

def get_trips(n):
    trips = n.schedule.route_trips_to_dataframe().sort_values(['route_id', 'trip_departure_time']).reset_index(drop=True)
    trips['mode'] = trips['route_id'].apply(lambda x: n.schedule.graph().graph['routes'][x]['mode'])
    trips = trips[trips['mode'] == 'bus']
    return trips

In [10]:
trips = get_trips(n)
trips.head()

# that looks right!

2025-12-22 14:12:33,135 - `route_trips_to_dataframe` method is deprecated and will be replaced by `trips_to_dataframe`in later versions.

,service_id,mode,route_id,trip_id,trip_departure_time,vehicle_id
0,10073,bus,10073_0,VJ578e53fa77a4da4b91eaba1d29ea42619687e1bf,1970-01-01 07:22:00,veh_14970_bus
1,10073,bus,10073_0,VJ28a063c007ab312989e2796dac4d7ea6c33757e4,1970-01-01 07:52:00,veh_14965_bus
2,10073,bus,10073_0,VJ12d2cf0235fb7fe5692ca330c2c2ff3a18e01ad9,1970-01-01 08:22:00,veh_14964_bus
3,10073,bus,10073_0,VJd546855afffba33bc947b26c547b9e073fef5d27,1970-01-01 08:52:00,veh_14979_bus
4,10073,bus,10073_0,VJ852d78aa1252a2da6b5803fac389c660b39d3b47,1970-01-01 09:22:00,veh_14974_bus

In [11]:
trips_with_stops = n.schedule.route_trips_with_stops_to_dataframe()
trips_with_stops.head()

2025-12-22 14:12:33,497 - `route_trips_with_stops_to_dataframe` method is deprecated and will be replaced by `trips_to_dataframe` in later versions.

,service_name,from_stop,from_stop_name,to_stop_name,mode,route_id,arrival_time,route_name,service_id,departure_time,to_stop,trip_id,vehicle_id
0,44,159G0060101,Lakeside,Tesco,bus,10073_0,1970-01-01 17:24:00,44,10073,1970-01-01 17:22:00,1590012401,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus
1,44,1590012401,Tesco,Armour Road,bus,10073_0,1970-01-01 17:27:36,44,10073,1970-01-01 17:24:00,1590703601,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus
2,44,1590703601,Armour Road,Watts Crescent,bus,10073_0,1970-01-01 17:29:00,44,10073,1970-01-01 17:27:36,1590048301,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus
3,44,1590048301,Watts Crescent,Marlow Avenue,bus,10073_0,1970-01-01 17:34:41,44,10073,1970-01-01 17:29:00,1590002001,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus
4,44,1590002001,Marlow Avenue,Saladin Drive,bus,10073_0,1970-01-01 17:36:00,44,10073,1970-01-01 17:34:41,1590002101,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus

We will compute typical bus speeds and use it to inform arrival and departure offsets for the new services
$$
speed = \frac{distance}{time}
$$
for all existing services and then 
$$
time = \frac{distance}{speed}
$$

In [12]:
from genet.utils import spatial

In [13]:
# ok so we're getting an error where the from_ or to_ stop is not an integer

# the best solution would be to get rid of any entry that doesn't qualify as an integer, and just use the remainder of the dataset

# the only way to tell that's the case is to pick up on the ones that contain *only numbers*:

# the below code fixes the problem, but cuts out a lot of data - I've killed it for now

# trips_with_stops = trips_with_stops[
#     trips_with_stops['from_stop'].apply(lambda x: str(x).isdigit()) &
#     trips_with_stops['to_stop'].apply(lambda x: str(x).isdigit())
# ]

In [14]:
# test that we can pull out lat and long

n.schedule.stop_attribute_data(keys=["lat","lon","id"]).head()

                   lat       lon           id
910GPBRO     52.574993 -0.249823     910GPBRO
910GTHETFD   52.419144  0.745098   910GTHETFD
910GATTLBON  52.514568  1.022371  910GATTLBON
910GWYMNDHM  52.565434  1.118048  910GWYMNDHM
910GNRCH     52.627178  1.306844     910GNRCH

In [15]:
# again, but bigger this time

lat_lon = n.schedule.stop_attribute_data(keys=["lat","lon","id"])

In [16]:
# then, merge that into the trips_with_stops df using id:

# first to_stop

lat_lon_to = lat_lon.rename(columns={'id':'to_stop', 'lat':'to_lat', 'lon':'to_lon'})

# then, merge that into the trips_with_stops df using id
trips_with_stops = trips_with_stops.merge(
    lat_lon_to[['to_stop', 'to_lat', 'to_lon']],
    on='to_stop',
    how='left'
)

# then, from_stop

lat_lon_from = lat_lon.rename(columns={'id':'from_stop', 'lat':'from_lat', 'lon':'from_lon'})

# then, merge that into the trips_with_stops df using id
trips_with_stops = trips_with_stops.merge(
    lat_lon_from[['from_stop', 'from_lat', 'from_lon']],
    on='from_stop',
    how='left'
)

In [17]:
# original code threw errors because some ids aren't just integers so can't be called

# trips_with_stops['distance'] = trips_with_stops.apply(
    # lambda x: spatial.distance_between_s2cellids(int(x['from_stop']), int(x['to_stop'])),
    # axis=1
# )

# new code uses a haversine function instead 

import numpy as np

APPROX_EARTH_RADIUS = 6371008.8

def haversine(lat1, lon1, lat2, lon2, R=APPROX_EARTH_RADIUS):
    # expects degrees
    lat1, lon1, lat2, lon2 = map(np.radians, (lat1, lon1, lat2, lon2))
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0)**2
    return 2 * R * np.arcsin(np.sqrt(a))

# ensure numeric and drop rows with missing coords
coords = ['from_lat','from_lon','to_lat','to_lon']
trips_with_stops[coords] = trips_with_stops[coords].apply(pd.to_numeric, errors='coerce')
trips_with_stops = trips_with_stops.dropna(subset=coords)

trips_with_stops['distance'] = trips_with_stops.apply(
    lambda x: haversine(x['from_lat'], x['from_lon'], x['to_lat'], x['to_lon']),
    axis=1
)

In [18]:
# horrible but necessary code to convert bng to lat, long:

# Converts eastings and northings (British national grid coordinates) to Lat/Long


from math import sqrt, pi, sin, cos, tan, atan2 as arctan2
import csv

def OSGB36toWGS84(E, N):
    # E, N are the British national grid coordinates - eastings and northings
    # The Airy 180 semi-major and semi-minor axes used for OSGB36 (m)
    a, b = 6377563.396, 6356256.909
    F0 = 0.9996012717  # scale factor on the central meridian
    lat0 = 49 * pi / 180  # Latitude of true origin (radians)
    # Longtitude of true origin and central meridian (radians)
    lon0 = -2 * pi / 180
    N0, E0 = -100000, 400000  # Northing & easting of true origin (m)
    e2 = 1 - (b * b) / (a * a)  # eccentricity squared
    n = (a - b) / (a + b)

    # Initialise the iterative variables
    lat, M = lat0, 0

    while N - N0 - M >= 0.00001:  # Accurate to 0.01mm
        lat = (N - N0 - M) / (a * F0) + lat
        M1 = (1 + n + (5. / 4) * n**2 + (5. / 4) * n**3) * (lat - lat0)
        M2 = (3 * n + 3 * n**2 + (21. / 8) * n**3) * \
            sin(lat - lat0) * cos(lat + lat0)
        M3 = ((15. / 8) * n**2 + (15. / 8) * n**3) * \
            sin(2 * (lat - lat0)) * cos(2 * (lat + lat0))
        M4 = (35. / 24) * n**3 * sin(3 * (lat - lat0)) * cos(3 * (lat + lat0))
        # meridional arc
        M = b * F0 * (M1 - M2 + M3 - M4)

    # transverse radius of curvature
    nu = a * F0 / sqrt(1 - e2 * sin(lat)**2)

    # meridional radius of curvature
    rho = a * F0 * (1 - e2) * (1 - e2 * sin(lat)**2)**(-1.5)
    eta2 = nu / rho - 1

    secLat = 1. / cos(lat)
    VII = tan(lat) / (2 * rho * nu)
    VIII = tan(lat) / (24 * rho * nu**3) * \
        (5 + 3 * tan(lat)**2 + eta2 - 9 * tan(lat)**2 * eta2)
    IX = tan(lat) / (720 * rho * nu**5) * \
        (61 + 90 * tan(lat)**2 + 45 * tan(lat)**4)
    X = secLat / nu
    XI = secLat / (6 * nu**3) * (nu / rho + 2 * tan(lat)**2)
    XII = secLat / (120 * nu**5) * (5 + 28 * tan(lat)**2 + 24 * tan(lat)**4)
    XIIA = secLat / (5040 * nu**7) * (61 + 662 * tan(lat) **
                                      2 + 1320 * tan(lat)**4 + 720 * tan(lat)**6)
    dE = E - E0

    # These are on the wrong ellipsoid currently: Airy1830. (Denoted by _1)
    lat_1 = lat - VII * dE**2 + VIII * dE**4 - IX * dE**6
    lon_1 = lon0 + X * dE - XI * dE**3 + XII * dE**5 - XIIA * dE**7

    # Want to convert to the GRS80 ellipsoid.
    # First convert to cartesian from spherical polar coordinates
    H = 0  # Third spherical coord.
    x_1 = (nu / F0 + H) * cos(lat_1) * cos(lon_1)
    y_1 = (nu / F0 + H) * cos(lat_1) * sin(lon_1)
    z_1 = ((1 - e2) * nu / F0 + H) * sin(lat_1)

    # Perform Helmut transform (to go between Airy 1830 (_1) and GRS80 (_2))
    s = -20.4894 * 10**-6  # The scale factor -1
    # The translations along x,y,z axes respectively
    tx, ty, tz = 446.448, -125.157, + 542.060
    # The rotations along x,y,z respectively, in seconds
    rxs, rys, rzs = 0.1502,  0.2470,  0.8421
    rx, ry, rz = rxs * pi / (180 * 3600.), rys * pi / \
        (180 * 3600.), rzs * pi / (180 * 3600.)  # In radians
    x_2 = tx + (1 + s) * x_1 + (-rz) * y_1 + (ry) * z_1
    y_2 = ty + (rz) * x_1 + (1 + s) * y_1 + (-rx) * z_1
    z_2 = tz + (-ry) * x_1 + (rx) * y_1 + (1 + s) * z_1

    # Back to spherical polar coordinates from cartesian
    # Need some of the characteristics of the new ellipsoid
    # The GSR80 semi-major and semi-minor axes used for WGS84(m)
    a_2, b_2 = 6378137.000, 6356752.3141
    # The eccentricity of the GRS80 ellipsoid
    e2_2 = 1 - (b_2 * b_2) / (a_2 * a_2)
    p = sqrt(x_2**2 + y_2**2)

    # Lat is obtained by an iterative proceedure:
    lat = arctan2(z_2, (p * (1 - e2_2)))  # Initial value
    latold = 2 * pi
    while abs(lat - latold) > 10**-16:
        lat, latold = latold, lat
        nu_2 = a_2 / sqrt(1 - e2_2 * sin(latold)**2)
        lat = arctan2(z_2 + e2_2 * nu_2 * sin(latold), p)

    # Lon and height are then pretty easy
    lon = arctan2(y_2, x_2)
    H = p / cos(lat) - nu_2

    # Uncomment this line if you want to print the results
    # print([(lat-lat_1)*180/pi, (lon - lon_1)*180/pi])

    # Convert to degrees
    lat = lat * 180 / pi
    lon = lon * 180 / pi

    # Job's a good'n.
    return lat, lon

In [19]:
trips_with_stops['time_delta'] = trips_with_stops['arrival_time'] - trips_with_stops['departure_time']
trips_with_stops['time_delta'] = trips_with_stops['time_delta'].dt.total_seconds()

In [20]:
trips_with_stops = trips_with_stops[trips_with_stops['time_delta'] != 0]

In [21]:
trips_with_stops['speed'] = trips_with_stops['distance'] / trips_with_stops['time_delta']

In [22]:
trips_with_stops.head()

,service_name,from_stop,from_stop_name,to_stop_name,mode,route_id,arrival_time,route_name,service_id,departure_time,to_stop,trip_id,vehicle_id,to_lat,to_lon,from_lat,from_lon,distance,time_delta,speed
0,44,159G0060101,Lakeside,Tesco,bus,10073_0,1970-01-01 17:24:00,44,10073,1970-01-01 17:22:00,1590012401,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus,51.488010,0.274086,51.490292,0.283074,672.047665,120.0,5.600397
1,44,1590012401,Tesco,Armour Road,bus,10073_0,1970-01-01 17:27:36,44,10073,1970-01-01 17:24:00,1590703601,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus,51.486172,0.256709,51.488010,0.274086,1220.420974,216.0,5.650097
2,44,1590703601,Armour Road,Watts Crescent,bus,10073_0,1970-01-01 17:29:00,44,10073,1970-01-01 17:27:36,1590048301,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus,51.485840,0.249938,51.486172,0.256709,470.287536,84.0,5.598661
3,44,1590048301,Watts Crescent,Marlow Avenue,bus,10073_0,1970-01-01 17:34:41,44,10073,1970-01-01 17:29:00,1590002001,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus,51.488251,0.233635,51.485840,0.249938,1160.222268,341.0,3.402411
4,44,1590002001,Marlow Avenue,Saladin Drive,bus,10073_0,1970-01-01 17:36:00,44,10073,1970-01-01 17:34:41,1590002101,VJ0095e1ed14f6ca86df9c9defe42d349438f26b5e,veh_14960_bus,51.486038,0.232072,51.488251,0.233635,268.821170,79.0,3.402800

In [23]:
trips_with_stops['speed'].describe()

# max speed is clearly an error, but I'm prepared to broadly credit this dataset.

count    868075.000000
mean          6.265960
std           3.623215
min           0.005612
25%           4.119974
50%           5.507079
75%           7.478403
max         249.643455
Name: speed, dtype: float64

In [26]:
import xml.etree.ElementTree as ET

sched_raw = ET.parse("/mnt/c/_BERTIE_data/2_2040_do_minimum_40WFH/output_transitSchedule.xml")

sched_root = sched_raw.getroot()

In [ ]:
import time
speed = 6.265
from_stop = market_town_links[0][0]
to_stop = market_town_links[0][1]

# new and exciting distance calculator:

for transitstops in sched_root.findall("transitStops"):
    # then drill to stopFacility
    for stopFacility in transitstops.findall("stopFacility"):
        # find the exact one we want
        if stopFacility.get("id") == market_town_stops[from_stop]:
            # then get x, y
            x_val = float(stopFacility.get("x"))
            y_val = float(stopFacility.get("y"))

latlon = OSGB36toWGS84(x_val, y_val)            

for transitstops in sched_root.findall("transitStops"):
    # then drill to stopFacility
    for stopFacility in transitstops.findall("stopFacility"):
        # find the exact one we want
        if stopFacility.get("id") == market_town_stops[to_stop]:
            # then get x, y
            x_val2 = float(stopFacility.get("x"))
            y_val2 = float(stopFacility.get("y"))
 
latlon2 = OSGB36toWGS84(x_val2, y_val2)

# get the number

distance = haversine(latlon[0], latlon[1], latlon2[0], latlon2[1])

# canned this one for obvious reasons:
# distance = spatial.distance_between_s2cellids(int(market_town_stops[from_stop]), int(market_town_stops[to_stop]))

time_s = distance/speed

print(distance)

from_stop, to_stop, time.strftime('%H:%M:%S', time.gmtime(time_s))

('Aldeburgh', 'Woodbridge', '00:53:47')

In [28]:
trip_departures = list(pd.date_range(start='00:00:00', end='23:59:59', freq='15min'))

In [29]:
from genet import Route, Service

# Get the config:

sched_raw = ET.parse("/mnt/c/_BERTIE_data/2_2040_do_minimum_40WFH/output_transitSchedule.xml")

sched_root = sched_raw.getroot()

def add_service(from_stop, to_stop, stop_dict):
    speed = 6.265
    
    # had to amend this line, because of the earlier issues with non-integer stop ids:

    # ok, so I've finally found a workaround after encountering a mass of non-integer stop ids. 

    # it involves manually using elementtree to extract the x and y of each stop and then haversine-ing the distance.

    # I'd just like Arup to know, whoever constructed distance_between_s2cellids is now my biggest enemy.

    for transitstops in sched_root.findall("transitStops"):
        # then drill to stopFacility
        for stopFacility in transitstops.findall("stopFacility"):
            # find the exact one we want
            if stopFacility.get("id") == stop_dict[from_stop]:
                # then get x, y
                x_val = float(stopFacility.get("x"))
                y_val = float(stopFacility.get("y"))

    latlon = OSGB36toWGS84(x_val, y_val)            

    for transitstops in sched_root.findall("transitStops"):
        # then drill to stopFacility
        for stopFacility in transitstops.findall("stopFacility"):
            # find the exact one we want
            if stopFacility.get("id") == stop_dict[to_stop]:
                # then get x, y
                x_val2 = float(stopFacility.get("x"))
                y_val2 = float(stopFacility.get("y"))
 
    latlon2 = OSGB36toWGS84(x_val2, y_val2)

    # get the number

    distance = haversine(latlon[0], latlon[1], latlon2[0], latlon2[1])

    # now it is working, so the old method is out:

    # distance = spatial.distance_between_s2cellids(int(stop_dict[from_stop]), int(stop_dict[to_stop]))

    # now back to pre-existing code:

    time_offset =  time.strftime('%H:%M:%S', time.gmtime(distance/speed))
    print(type(time_offset))
    trip_departures = list(pd.date_range(start='00:00:00', end='23:59:59', freq='15min'))
    
    service_id = f'service_{from_stop}_{to_stop}'
    
    route_id = f'route_{from_stop}_{to_stop}'
    route_from = Route(
        route_short_name=route_id,
        mode='bus',
        trips={
            'trip_id': [f'{route_id}_{t.hour:02}-{t.minute:02}-{t.second:02}' for t in trip_departures],
            'trip_departure_time': [t.strftime('%H:%M:%S') for t in trip_departures],
            'vehicle_id': [f'veh_scenario_bus_{route_id}_{i}' for i in range(len(trip_departures))]
        },
        arrival_offsets=['00:00:00', time_offset],
        departure_offsets=['00:00:00', time_offset],
        id=route_id,
        await_departure= [True, True],
        stops=[n.schedule.stop(stop_dict[from_stop]), n.schedule.stop(stop_dict[to_stop])]
    )

    route_id = f'route_{to_stop}_{from_stop}'
    route_to = Route(
        route_short_name=route_id,
        mode='bus',
        trips={
            'trip_id': [f'{route_id}_{t.hour:02}-{t.minute:02}-{t.second:02}' for t in trip_departures],
            'trip_departure_time': [t.strftime('%H:%M:%S') for t in trip_departures],
            # this bit should be adding the vehicle id!
            'vehicle_id': [f'veh_scenario_bus_{route_id}_{i}' for i in range(len(trip_departures))]
        },
        arrival_offsets=['00:00:00', time_offset],
        departure_offsets=['00:00:00', time_offset],
        id=route_id,
        await_departure= [True, True],
        stops=[n.schedule.stop(stop_dict[to_stop]), n.schedule.stop(stop_dict[from_stop])]
    )

    print(f'Adding {service_id}. Time offset: {time_offset}')
    n.schedule.add_service(Service(id=service_id, routes=[route_from, route_to]))
    print(f'Routing {service_id}.')
    n.reroute(service_id)
    n.schedule.generate_vehicles()
    return service_id

In [30]:
# new veh related code

len(n.schedule.vehicles)

52124

In [ ]:
# realise the new services!!!!

services = []
for market_town_connection in market_town_links:
    s = add_service(
        market_town_connection[0], 
        market_town_connection[1], 
        market_town_stops)
    services.append(s)

<class 'str'>
Adding service_Aldeburgh_Woodbridge. Time offset: 00:53:47

2025-12-22 14:15:01,662 - Added Services with IDs `['service_Aldeburgh_Woodbridge']` and Routes: [['route_Aldeburgh_Woodbridge', 'route_Woodbridge_Aldeburgh']]
2025-12-22 14:15:06,788 - Rerouting Service `service_Aldeburgh_Woodbridge`
2025-12-22 14:15:06,798 - Checking `linkRefId`s of the Route: `route_Aldeburgh_Woodbridge` are present in the graph
2025-12-22 14:15:06,900 - Rerouting Route `route_Aldeburgh_Woodbridge`

Routing service_Aldeburgh_Woodbridge.

2025-12-22 14:15:11,900 - Changed Route attributes for 1 routes
2025-12-22 14:15:12,044 - Checking `linkRefId`s of the Route: `route_Woodbridge_Aldeburgh` are present in the graph
2025-12-22 14:15:12,139 - Rerouting Route `route_Woodbridge_Aldeburgh`
2025-12-22 14:15:17,065 - Changed Route attributes for 1 routes
2025-12-22 14:15:22,654 - Added Services with IDs `['service_Bury_St_Edmunds_Beck_Row']` and Routes: [['route_Bury_St_Edmunds_Beck_Row', 'route_Beck_Row_Bury_St_Edmunds']]

<class 'str'>
Adding service_Bury_St_Edmunds_Beck_Row. Time offset: 00:55:00

2025-12-22 14:15:25,470 - Rerouting Service `service_Bury_St_Edmunds_Beck_Row`
2025-12-22 14:15:25,485 - Checking `linkRefId`s of the Route: `route_Bury_St_Edmunds_Beck_Row` are present in the graph
2025-12-22 14:15:25,588 - Rerouting Route `route_Bury_St_Edmunds_Beck_Row`

Routing service_Bury_St_Edmunds_Beck_Row.

In [ ]:
# from genet reference docs        

n.schedule.validate_vehicle_definitions()

In [ ]:
len(n.schedule.vehicles)

# a higher number! it works!!!

In [ ]:
vehs = n.schedule.vehicles

In [ ]:
n.schedule.change_log().tail()

# ok, it's in the frame, just have to hope it runs properly in the model...

In [ ]:
# below doesn't work, I don't know why, so it's commented out - I will be shocked if this is the problem.

# n.schedule.vehicle_types = {k:v for k,v in n.schedule.vehicle_types.items() if k in {'Bus', 'Rail'}}
# n.schedule.vehicle_types['ScenarioBus'] = n.schedule.vehicle_types['Bus']

In [ ]:
# not sure why this is here, it always yields an empty list
# ok, great, fixed it

n.schedule.vehicle_types

In [ ]:
n.schedule.validate_vehicle_definitions()

In [ ]:
rep = n.generate_validation_report()

In [ ]:
n.write_to_matsim(output_path)